@charset "UTF-8";

/*******************************************************
 * 共通部分
 ******************************************************/
 h1{
	 text-align: center;
 }
 
 main{
	  text-align: center;
	  height: auto;
 }
 
 .loginUser{
	margin:0 20%;
 }
 
 .topmenu{
	 font-size: 25px;
 }

/*******************************************************
 * ページヘッダー部
 ******************************************************/
.header{
	display: flex; /*横並び*/
	justify-content: center;
	
	}
	

/*******************************************************
＊ログアウト完了画面
 ******************************************************/	
 .logout{
	 text-align: center;
 }
 
 .logout p{
	 font-size: large;
 }
 
 /*******************************************************
＊エラーページ
 ******************************************************/
 /*ログインエラー*/
 .loginErr{
	 text-align: center;
	 }	
	 
 /*******************************************************
＊ログアウトボタン
 ******************************************************/	 
.logoutButton{
	text-align: right;
	font-size:20px;
}

/*******************************************************
登録ページ
 ******************************************************/	 
.container{
	  display: inline-block;
	  width: 90%;
}

table{
    margin: 0 auto;
    width: 65%;
}

.form-group{
	display: inline-block;
	margin: 6px auto;
}

.ng p{
	color: red;
	 font-size:30px;
}

.ok{
	 font-size:30px;
}
/*******************************************************
登録完了ページ
 *****************************************************/	

 .topBack{
	  text-align: center;
	 font-size:20px;
 }